.myProjects{
    height: 92%;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    align-items: center;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: space-evenly;
>>>>>>> 8cb589f7b318e446d3931b9852509be4391d6b14
    flex-direction: column;
    background-image: url(../../Assets/bg3.svg);
    background-size: cover;
    color: #F5F5F5;
<<<<<<< HEAD
    overflow: hidden;
    .cardImg{
        border-radius: 1rem;
        width: 100%;
       height: 90%;
=======
    .carouselImg{
        border-radius: 1rem;
        border: 2px solid #F05454;
>>>>>>> 8cb589f7b318e446d3931b9852509be4391d6b14
    }
    &__conteiner{

      width: 100%;
<<<<<<< HEAD
      height: 80% !important;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      &-cards{
          &:hover{
            box-shadow: 7px 6px 10px 3px #F5F5F5;
            cursor: pointer;
          }
          width: 40%;
          height: 30%;
          background-color: #121212;
          display: flex;
          align-items: center;
          padding: 1rem;
          font-size: 1rem;
          text-align: left;
          gap: 1rem;
          border-radius: 8px;
          box-shadow: 7px 6px 10px 3px #121212;
          &-img{
              width: 35%;
              
          }
          &-data{
            width: 65%;
            p{
                display: flex;
                align-items: center;
                gap: .5rem;
                a{
                    color: #F5F5F5;
                }
                a:hover{
                    color: #F05454;
                }
            }
        }
      }
=======
      height: fit-content;
>>>>>>> 8cb589f7b318e446d3931b9852509be4391d6b14
      &-mobile{
          div{
              width: 100%;

          }
      }
    }
    h1{
        font-size: 4rem;
    }
}

@media (max-width: 1361px){
    .myProjects{
        height: 92%;
        width: 100%;
        position: relative;
        overflow-y: hidden;
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../../Assets/bg3.svg);
        background-size: cover;
        color: #F5F5F5;
        .carouselImg{
            border-radius: 1rem;
            border: 2px solid #F05454;
        }
        &__conteiner{
    
          width: 100%;
          height: fit-content;
<<<<<<< HEAD
          &-cards{

            font-size: .7rem;
           
            &-img{
                width: 35%;

                
            }
        }
        }
        h1{
            font-size: 4rem;
=======
        }
        h1{
            font-size: 4rem;
            margin-top: 10%;
>>>>>>> 8cb589f7b318e446d3931b9852509be4391d6b14
        }
    }



}

@media (max-width: 769px){
    .myProjects{
<<<<<<< HEAD
        height: fit-content;
=======
        height: 92%;
>>>>>>> 8cb589f7b318e446d3931b9852509be4391d6b14
        width: 100%;
        position: relative;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
       
        &__conteiner{
            height: inherit;
            padding-bottom: 5rem;
            &-cards{
                width: 100%;
                font-size: 1rem;
            }
=======
        &__conteiner{
            height: inherit;
>>>>>>> 8cb589f7b318e446d3931b9852509be4391d6b14
        }
    .myProjects__conteiner-mobile{
        height: inherit;
        div{
            img{
                width: 90%;
            }
        }
        p{
            font-size: 1.5rem;
            font-weight: 900;
        }
        svg{
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    }


}